/* ------------------------------------------------------------ *\
	Game
\* ------------------------------------------------------------ */

.game {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s 0.5s, visibility 0.5s 0.5s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 700px;

	&.fadeIn {
		opacity: 1;
		visibility: visible;
	}

	.game {
		&__head {
			font-size: 40px;
			margin-bottom: 20px;
			text-align: center;
		}

		&__body {
			height: 200px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 30px 0;
		}

		&__computer {
			transform: scaleX(-1);
		}

		&__actions {
			display: flex;
			justify-content: space-between;
		}
	}
}
